<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 为这个mapper指定一个唯一的namespace,值为映射的dao接口-->
<mapper namespace="com.ssm.dao.UserDao">
    
    <!-- 创建user -->
    <insert id="createUser" parameterType="User">
    	insert into ssm_user (userName,password,age) values (#{userName},#{password},#{age})
    </insert>
    
    <!-- 修改user -->
    <update id="updateUser" parameterType="User">
    	update ssm_user set userName=#{userName},password=#{password},age=#{age} where id=#{id}
    </update>
    
    <!-- 根据id查询user-->
    <select id="getUserById" parameterType="int" 
        resultType="User">
        select * from ssm_user where id=#{id}
    </select>
    
    <!-- 根据id删除user -->
    <delete id="deleteUser" parameterType="int">
    	delete from ssm_user where id=#{id}
    </delete>
    
</mapper>